include ../../mixins/widgets
div#message 
	!= context.flash
form#author-form(class="right-form",action=`/admin/author/${action}/`,enctype="multipart/form-data",method="POST")
	input(type="hidden",id="csrf_token",name="csrf_token",value=`${context.csrf_token}`)
	input(type="hidden",id="id",name="id",value=`${objet.id}`)
	+input_line_valid('prenom','Prénom :',objet.prenom,"",{})
	+input_line_valid('nom','Nom :',objet.nom,"",{})
	+text_line('login','Login :',objet.login,{})
	+input_file('avatar','Avatar :','/uploads',objet.avatar,{})
	input(type="hidden",id="password",name="password",value=`${objet.password}`)
	p.form-line
		label(for=name) Mot de passe :
		button(id="chgpwd",type="button") Changer
	div#div-password-message.alert
	div#div-password-change.hide
		+input_pwd('mpassword','Mot de passe :',objet.password,{})
		+input_pwd('mconfirm','Confirmer Mot de passe :',"",{})
		button(id="spwd",type="button") Modifier Mot de passe
	script
		| var content = !{JSON.stringify(objet)}
	p.form-line
		input(type="submit",id="submit",name="submit",value="Valider")
