include ../../mixins/widgets
div#message 
	!= context.flash
form#post-form(class="right-form",action=`/admin/publication/${action}/`,enctype="multipart/form-data",method="POST")
	input(type="hidden",id="csrf_token",name="csrf_token",value=`${context.csrf_token}`)
	input(type="hidden",id="created_at",name="created_at",value=Date.now())
	input(type="hidden",id="id",name="id",value=`${objet.id}`)
	+select_line('id_type','Type de post',types_posts,'type_post',objet.id_type,{})
	+input_line_valid('title','Title :',objet.title,"",{})
	+input_line_valid('description','Description :',objet.description,'',{})
	+text_line('keywords','Mots clés :',objet.keywords,{})
	+text_line('titre','Titre : ',objet.titre,{})
	p
		button 
			a(href='/admin/categorie') Ajouter une catégorie
	+select_line('id_categorie','Catégorie :',categories,'categorie',objet.id_categorie,{})
	p
		button 
			a(href='/admin/tag') Ajouter une étiquette
			
	+select_line_multiple('tags_posts[]','Tags :',tags,'tag',objet.tags_posts)
	+text_line('resume','Résumé',objet.resume,{})
	+text_line('content','Contenu', objet.content,{})
	input(type='hidden',id='visible',name='visible',value="")
	script
		| var content = !{JSON.stringify(objet)};
		| 
		| tinymce.init({
		|	selector:'#content',
		|	toolbar:'image|code|undo redo|styleselect|fontselect fontsizeselect|bullist numlist outdent indent | fullscreen',
		|	plugins:'image imagetools code advlist lists fullscreen autolink charmap preview anchor',
		|	images_upload_url:'/admin/upload/',
		|	automatic_uploads:false,
		|	images_upload_credentials:false,
		|	style_formats: [
		|				    {
		|						title: 'Image Left',
		|						selector: 'img',
		|						styles: {
		|							'float': 'left', 
		|							'margin': '0 10px 0 10px'
		|						}
		|					},
		|					{
		|				 		title: 'Image Right',
		|						selector: 'img', 
		|						styles: {
		|							'float': 'right', 
		|							'margin': '0 0 10px 10px'
		|						}
		|					}
		|				]
		|				});
		| 
		
	p.form-line
		input(type="submit",id="submit",name="submit",value="Valider")
