header#head-site.head-site
	div#empty.text-center
		

	div.row.topmenu
		div.col-12
			nav.navbar.navbar-dark.navbar-expand-lg.bg-dark
				a.navbar-brand.d-md-none.d-lg-none(href="#")= params.societe
				button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
					span.navbar-toggler-icon
				div.collapse.navbar-collapse#navbarSupportedContent
					ul.navbar-nav.mr-auto
						li.nav-item(active="active")
							a.nav-link(href="/") Accueil
						li.nav-item
							a.nav-link(href="/prestations") Prestations
						li.nav-item
							a.nav-link(href="/blog") Blog
						li.nav-item
							a.nav-link(href="/infos/") Informations pratiques
						li.nav-item
							a.nav-link(href="/contact/") Me contacter
				div.collapse.navbar-collapse.text-right(style="max-width:200px")
			
					if context.log != null
						p.navbar-text.navbar-nav
							span #{context.log.login}
						p.navbar-text.navbar-nav
							span
								a(href="/logout/") &nbsp;Se deconnecter
					else
						p.navbar-text.navbar-nav
							span.white
								a(href="/admin") &nbsp;Se connecter
	div#section-title.row.d-sm-block.d-md-block.d-lg-none.d-xl-none
		div.col-12.align-middle.text-center
			span#spanlogo(style=`background-image:url('/images/${params.logo}');`)
	div#section-title.row.d-none.d-lg-block.d-xl-block
		div.col-12.text-center
			span#spanlogo.align-middle(style=`background-image:url('/images/${params.logo}');`)
			h1#titre.align-middle= params.societe

		