h4.text-center Recherche
form#search(action='/blog/search',method='POST')
	p.ligne-search
		input(type="text",name="pattern",id="pattern")
		label
			input#search-input(type='submit',value="")



h4.text-center 
	| Derniers Articles

div#last-posts
	each post in last_posts
		p
			a(href=`/blog/article/${post.id}`)
				span Posté le #{post.created_at}
				span &nbsp;
				span= post.titre
h4.text-center Articles par dates
div#calendrier
	script(type="text/javascript")
		| var calendrier_0=new  calendrier('calendrier','mise_a_jour','post.created_at','created_at');

h4.text-center Cat&eacutegories	
div#categories
	ul#ul-categories
		each categorie in categories
			li
				a(href=`/blog/categorie/${categorie.id}`) #{categorie.categorie}

h4.text-center Tags
div#tags.text-center
	each tag in tags
		span
			a(href=`/blog/tag/${tag.id}`) #{tag.tag} &nbsp;
				